.dropdown {
    padding-top: 15px;
    position: relative;
}

.dropdown-content {
    padding-left: 0;
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a, .dropdown-content header {
    display: block;
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.profile-icon-div {
    height: 100%;
}

.job-post-box-small {
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    width: 100%;
    background-color: #D3D3D3;
}