{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content">
        <div class="row well">
            <div class="col-md-12">
                <div class="profile-wrapper">
                    <header>
                        {{ client.getFirstName() }} {{ client.getLastName() }}
                    </header>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
