{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content">
        <div class="row well">
            <h1>My Profile</h1>
            <div class="col-md-12">
                <div class="inner-box-wrapper">
                    <p>
                        {{ myProfile.getFirstName() }} {{ myProfile.getLastName() }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
