{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content">
        <div class="row well">
            <div class="inner-box-wrapper">
                <div class="col-md-12">
                    <div class="col-lg-3">
                        <h3>Add/Remove Skill tags</h3>
                    </div>
                    <div class="col-lg-9">
                        {% for category in categories %}
                            <div class="job-post-box-small">
                                <div class="col-lg-10">{{ category.name }}</div>
                                <div class="col-lg-2">Add/Remove</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}