{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" method="POST" name="register">
                <fieldset>
                    <legend>Register</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_email">E-mail</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="user_email" name="user[email]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password">Password</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="user_password" name="user[password]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="first_name">First Name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="first_name" name="user[firstName]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="last_name">Last Name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="last_name" name="user[lastName]">
                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}